{% extends "base.html" %}

{% block body_contents %}

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
            <li role="presentation"><a href="{{ url_for('friends') }}">Friends</a></li>
            <li role="presentation"><a href="{{ url_for('myProfile') }}">Profile</a></li>
            <li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="{{ url_for('index') }}" class="text-muted">UNSWtalk</a></h3>
      

      <br>
        <form action="" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
          <div class="input-group">
              <input name="searchtext" value="" class="form-control" type="text">
              <span class="input-group-btn">
               <button class="btn btn-default" type="submit" id="addressSearch">
                   <span class="glyphicon glyphicon-search"></span>
               </button>
              </span>
          </div>
        </form>
      </div>


<h2>{{profName}}</h2>
{% set zID = stuInfo['zid'].strip() %}
{# {% set fName = profName[0] %} #}
<img src="{{ url_for('static', filename='img/' + zID + '.jpg') }}">
<br>

<div class="unswtalk_student_details">

{# print the details of the users #}

 email:{{ stuInfo['email'] }} <br>
 birthday:{{ stuInfo['birthday'] }} <br>
 program:{{ stuInfo['program'] }} <br>
 home:{{ stuInfo['home_suburb'] }} <br>
 friends:{{ stuInfo['friends'] }} <br>

</div>

<br>

{% set latestPID = pcr|length-1 %}

<div class="commentInterface">
    <form action="{{ url_for('writePost', maxPostID=latestPID) }}" method="POST">
        <textarea class="form-control" rows="3" name="post" placeholder="Say something to {{fName}}..."></textarea>
  <button class="superButton btn btn-success">Add</button>
    </form>
</div>


{% for key in range(pcr|length-1, -1, -1) %}
{# {{key}} #}
{% for item in pcr[key|string] %}
    {# {{item}} #}
    {% set x = item['postID'].split('-') %}
    {% set postOwner = item['from'].strip() %}
    {% set ownersName = complete[postOwner]['full_name'] %}
    {% set postDate = item['time'][:-2] %}

    {% if x|length == 1 %}
        <div class="posts">
        <img class="postsImage" src="{{ url_for('static', filename='img/' + postOwner + '.jpg') }}">
        {# <img class="postsImage" src="{{friendImgHash[postOwner]}}"> #}
            <div class="postDetails">
            <a href="{{ url_for('showProfile', friendsZID=postOwner) }}">
                {{ownersName}}
            </a>   
            </div>
            <br>
            {{item['message']}}
            {% if postOwner == session.get('zID') %}
                <a href="{{ url_for('deletePost', postID=item['postID']) }}" class="btn btn-primary btn-link btn-xs">Delete</a>
            {% endif %}
            <div class="text-muted">
            {{postDate}}
            </div>
        </div>

    {% elif x|length == 2 %}
        <div class="comments">
        <img class="postsImage" src="{{ url_for('static', filename='img/' + postOwner + '.jpg') }}">
        {# <img class="postsImage" src="{{friendImgHash[postOwner]}}"> #}
            <div class="postDetails">
            <a href="{{ url_for('showProfile', friendsZID=postOwner) }}">
                {{ownersName}}
            </a>   
            </div>
            <br>
            {{item['message']}}
            <div class="text-muted">
            {{postDate}}
            </div>
        </div>
    
    {% else %}
        <div class="replies">
        <img class="postsImage" src="{{ url_for('static', filename='img/' + postOwner + '.jpg') }}">
        {# <img class="postsImage" src="{{friendImgHash[postOwner]}}"> #}
            <div class="postDetails">
            <a href="{{ url_for('showProfile', friendsZID=postOwner) }}">
                {{ownersName}}
            </a>   
            </div>
            <br>
            {{item['message']}}
            <div class="text-muted">
            {{postDate}}
            </div>
        </div>

    {% endif %}

    <br>
{% endfor %}
<br>
<br>
{% endfor%}



<form method="POST" action="{{ url_for('friends') }}">
    <input type="hidden" name="n" value="1">
    <input type="submit" value="Back to friends list" class="unswtalk_button">
</form>



{% endblock %}